/* 
ion-toolbar {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-dark);
} */

.login {
  /*background: url("../../public/assets/icon/mobilebg.png");
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #6e1541;
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.logo {
  height: 4vh;
  max-width: 75vw;
}

/*
.overlay {
  background-color: rgba(200, 47, 47, 0.15); 
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.login-logo {
  display: inline-block;
  height: 10vh;
  max-width: 75vw;
}
.base {
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.login-input {
  margin-top: 18vh;
}
.wine {
  height: 15vh;
  border: none;
  min-width: 20vw;
  border-radius: 10px 30px 30px 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.buttonGroup {
  border: none;
}
*/

/*
.googleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97vw;
  height: 5vh;
  background: #ea4335;
  position: relative;
  color: white;
  --ion-font-family: "Josef Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;

  margin: 10px;
  border-radius: 8px;
}
.twitterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97vw;
  height: 5vh;
  background: #00a2f4;
  position: relative;
  color: white;
  --ion-font-family: "Josef Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  margin: 10px;
  border-radius: 8px;
}
.ImgSocial {
  display: flex;
  align-items: center;
  height: 4vh;
}

*/

/*
.separator {
  display: flex;
  align-items: center;
  justify-content: center;
}
.separatorText {
  color: white;
  --ion-font-family: "Josef Sans", sans-serif;
  font-size: 3rem;
  font-weight: 500;
}
.tabbar {
  margin-top: 55px; 
}
.content {
  margin-top: 20vh;
  border: 5px;
  background: blue;
}

.pageTitle {
  --color: var(--ion-color-tertiary);
  --ion-font-family: "Josef Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 800;
  max-width: 40vw;
}
.tabButton {
  --color: var(--ion-color-tertiary);
}
.normalButton {
  pointer-events: initial !important;
}

*/
/*Junix code here*/

ion-card {
  padding: 10px;
  width: 100%;
}

ion-toolbar {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-light);
}

ion-tab-bar {
  --background: var(--ion-color-secondary);
  --color: var(--ion-color-secondary-contrast);
}

/* ion-tab-button {
  --color: var(--ion-color-secondary-contrast);
  --color-selected: var(--ion-color-primary-shade);
} */

.active-button {
  background-color: #fff;
  padding: 2px;
  color: black;
  border: solid 4px #f99e0d;
  border-bottom: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.login-page {
  background-color: #6e1541 !important;
  color: #fff;
}

.login-page h1 {
  display: block;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  background-color: #6e1541;
  color: #fff;
}

.login-logo {
  display: block;
  margin: 0 auto;
  height: 5vh;
}
